.contact .content .icon_contact{
    width: 2.5rem;
    font-size: 1.25rem;
    color: hsla(147, 73%, 43%, 1);
}

.contact .leftContent{
    padding: 1.875rem;
}


form{
    margin-top: 0.188rem;
    
}

form textarea,
form input{
    width: 140%;
    padding:  0.938rem;
    background: none;
    outline: none;
    background: hsla(0, 0%, 17%, 1);
    border:none;
    margin-bottom:  0.938rem;
}


form textarea{
    margin: 0;
    color: hsla(0, 1%, 45%, 1);
    font-family: 'Merriweather', serif;
}