.contact .content .icon_contact{
    width: 40px;
    font-size: 20px;
    color: hsla(147, 73%, 43%, 1);
}

.contact .leftContent{
    padding: 30px;
}


form{
    margin-top: 3px;
    
}

form textarea,
form input{
    width: 140%;
    padding: 15px;
    background: none;
    outline: none;
    background: #2b2b2b;
    border:none;
    margin-bottom: 15px;
}


form textarea{
    margin: 0;
    color: #737171;
    font-family: 'Merriweather', serif;
}